fastapi
uvicorn[standard]

streamlit

pandas
numpy
requests

python-dotenv

sqlalchemy
psycopg2-binary
supabase

ta

scikit-learn

transformers
torch

pypdf

python-telegram-bot

google-generativeai

httpx

plotly